:root {
  --color-primario: #2170b9;
  --color-secundario: #f4a261;
  --color-fondo: #fefae0;
  --color-texto: #1d3557;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.navbar {
  background-color: var(--color-primario);
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: var(--color-secundario) !important;
}

.btn-custom {
  background-color: var(--color-secundario);
  color: white;
}

.btn-custom:hover {
  background-color: #e76f51;
}

footer {
  background-color: var(--color-primario);
  color: white;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(28, 113, 146, 0.966);
}

/* Estilos específicos para el carrusel de destinos */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}
